.card{
  background-color: #fff;
}

.card__title{
  color: #282828;
  size: 14px;
  padding: 10px;
}

.card__description{
  color: #282828;
  size: 12px;
}

img{
  width: 288px;
  height: 182px;
  margin-bottom: auto;
}